/* Colors */


:root {
    --color-white: #FFFFFF;
    --color-light-gray: #E4EAEA;
    --color-dark-blue: #1A2E38;
    --color-dark-gray: #444444;
    --color-medium-gray: #757578;
    --color-light-blue: #03B1F4;
    --color-cyan: #00BFFF;
    margin:20px
    
}

/*Fonts*/
@font-face {
    font-family: 'OpenSans';
    src: url('Fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'OpenSans Semibold';
    src: url('Fonts/open-sans/OpenSans-Semibold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Bodoni Moda';
    src: url('Fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz,wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Bodoni Moda Italic';
    src: url('Fonts/Bodoni_Moda/BodoniModa-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Snowburst One';
    src: url('Fonts/Snowburst_One/SnowburstOne-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Henny-penny';
    src: url('Fonts/Henny-Penny/HennyPenny-Regular.ttf') format('truetype');
  }

/* Header */
#page6-header {
    background-color: var(--color-dark-blue);
    padding: 10px 0;
    opacity: 0.9;
    z-index: 10; /* Ensure the navbar is above the hero image */
    position: sticky;
    top: 0;
    width: 100%;
}

#page6-logo {
    height: 50px;
}

#navbar .page6-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

#navbar .page6-nav li {
list-style: none;
}

.page6-nav li a {
text-decoration: none; 
color: #ffffff;
padding: 1em;
display: block;
 }

 .page6-nav li:hover {
background-color: #555;
border-radius: 30px;

 }

 .page6-nav li:last-child a {
    background-color: #ffffff;
    color: rgb(0, 213, 255);
    border-radius: 30px;
     }

#hamburgerToggler {
    position: absolute;
    top: 1.5em;
    right: 3.5em;
    display: none;
}
.navbar-toggler {
background: 0;
border: 0;
cursor: pointer;
display: none;
}
svg {
    stroke: #ffffff;
}


.btn-cyan {
    background-color: var(--color-white);
    color: var(--color-light-blue);
    border-radius: 25px;
    padding: 20px 40px;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    line-height: 150%; 
}

.btn-cyan:hover {
    background-color: var(--color-cyan);
    color: var(--color-white);
}


/* Main */
#page6-main {
margin: 0;
padding: 0;
}

/* Styling the sections*/
section {
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Bodoni Moda';
    line-height: 2;
}
p {
    font-family: 'OpenSans';
    color: #444444;
    font-size: 12px;
}
.desc-h2 h2{
    font-size:1em;
    font-family: 'Abril Fatface';
}
#description h2{
    text-align: center;
    font-size:large;
    font-family: 'Bodoni Moda Italic';
    margin-top: 0px;
    margin-bottom: 40px;
}

#section-para p{
    font-family: sans-serif;
    padding: 0 35px 0;
    font-weight: 500;
text-align: left;
  }
#camp-locations{
    padding: 0 35px 0;
    font-family: 'OpenSans';
}
#camp-locations h2{
        font-weight: bold;
        font-size: x-large;
}
  .splashes ul{
    padding-left: 0px;
    list-style: none;
    font-family: sans-serif;

}

.splashes ul a{
    color: rgb(0, 213, 255);
    text-decoration:underline;
}


/* Hero Image */
.hero-image {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 0px; /* Adjust this value based on the height of thee navbar */
    z-index: 1; /* Ensure the hero image is behind the navbar */
}

.hero-image img {
    width: 100%;
    height: auto;
}

.hero-image h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Bodoni Moda';
}



/* Footer */
#page6-footer {
    background-color: var(--color-light-gray);
    color: var(--color-dark-gray);
    text-align: center;
    padding: 20px;
    background-size: cover;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.footer-links a {
    color: var(--color-dark-gray);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    text-decoration: underline;
}

.footer-sponsors {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.footer-sponsors img {
    max-width: 100px;
    height: auto;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.footer-contact div {
    flex: 1 1 calc(20% - 20px);
    text-align: center;
}

.footer-contact p {
    margin: 0;
}

.footer-contact a {
    margin-left: 5px;
    color: var(--color-light-blue);
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-media a {
    color: var(--color-dark-gray);
    font-size: 24px;
}

/* Media Queries */
@media (min-width: 1200px) {
  
    .navbar-toggler {
        display: block;
    }

    #page6-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    #page6-nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #page6-nav ul.show {
        display: flex;
    }

    #page6-nav li {
        margin: 10px 0;
    }

    #page6-nav a {
        padding: 10px 0;
        width: 100%;
    }
    .desc-h2 h2{
       padding-bottom: 20px;
    }
#section-para {
    margin: 0 150px;
}
#camp-locations{
    margin: 0 150px;
}
#camp-locations h2{
    font-family:'OpenSans';
    font-size: 12px;
    padding-bottom: 30px
}
    .footer-sponsors {
        flex-direction: column;
        align-items: center;
    }

    .footer-sponsors img {
        max-width: 80px;
    }

    .social-media {
        flex-direction: column;
    }

    .footer-nav {
        flex-direction: column;
    }

    .location-group {
        flex: 1 1 100%;
    }

    .footer-contact {
        flex-direction: column;
        align-items: center;
    }

    .footer-contact div {
        flex: 1 1 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    body {
        margin: 20px;
    }
    
    #page6-header, #page6-footer {
        text-align: center;
    }

    .page6-nav{
        display: none;
    }

    #hamburgerToggler {
        right: 1em;
        top: 3em;
        display: flex ;
    }
    
   #page6-header .container {
        display: block;
    }
    .hero-image h1{
        font-size: 20px;
        font-weight: bolder;
        

    }
    .desc-h2{
padding: 0 35px;
        }

.desc-h2 h2{
    padding: 0 0.9em 0;
    font-size:1.3em;
    font-family: 'Abril Fatface';
color: #555;
}

        #section-para p{
            padding: 0 35px;
        }

    .page6-nav ul{
    flex-direction: column;
    width: 100%;
    
    }
    .page6-nav ul li a{
    width: 100%; 
    padding: 10px;
        }
    .page6-nav.active{
            display: flex;
        }

    .footer-sponsors {
        flex-direction: column;
        align-items: center;
    }
 

    .footer-sponsors img {
        max-width: 80px;
    }

    .social-media {
        flex-direction: column;
    }

    .footer-nav {
        flex-direction: column;
    }

    .location-group {
        flex: 1 1 100%;
    }

    .footer-contact {
        flex-direction: column;
        align-items: center;
    }

    .footer-contact div {
        flex: 1 1 100%;
        margin-bottom: 10px;
    }
}
